.PostWriteFormNormal{
  input{
    position:absolute;
    box-sizing:border-box;
    display:block;
    padding:0.5rem;
    top:15%;
    left:5%;
    width:90%;
    height:40px;
    border:1px solid #dee2e6;
  }
  textarea{
    box-sizing:border-box;
    display:block;
    margin:0 auto;
    padding:0.5rem;
    left:5%;
    width:90%;
    height:100%;
    resize:none;
    border:1px solid #dee2e6;
  }
}