.PostWriteForm{
  box-sizing:border-box;
  position:absolute;
  padding:160px 0 70px;
  top:50%;
  left:50%;
  margin:-300px 0 0 -350px;
  width:700px;
  height:600px;
  background:#fff;
  .type_area{
    position:absolute;
    display:inline-block;
    top:5%;
    left:5%;
    width:90%;
    button{
      width:50%;
      padding:0.25rem 0.5rem;
      border:2px solid #f08c00;
      background:#fff;  
      color:#495057;
      &:hover, &.on{
        width:50%;
        padding:0.25rem 0.5rem;
        border:2px solid #f08c00;
        background:#f08c00;
        color:#fff;
      }
      & + button{
        margin-left:-1px;
      }
    }
  }
  .Form_area{
    height:100%;
  }
  .btn_group{
    position:absolute;
    right:1rem;
    bottom:1rem;
  }
}

