@import '~open-color/open-color';

.PostContent{
  box-sizing:border-box;
  display:inline-block;
  position:relative;
  padding:1rem;
  width:300px;
  margin:1rem;
  background:$oc-gray-0;
  border-radius:5px;
  box-shadow:0 0 4px rgba(0, 0, 0, 0.05);
  .title{
    font-weight:bold;
    color:$oc-gray-9;
  }
  hr{
    margin:0.6rem 0;
    width:100%;
    height:1px;
    border:none;
    background:$oc-gray-3;
  }
  .upload_date{
    text-align:right;
    color:$oc-gray-6;
    font-size:0.9rem;
  }
  .content{
    margin-bottom:0.6rem;
    max-height:200px;
    color:$oc-gray-9;
    overflow:hidden;
  }
  .perform_ratio{
    font-weight:bold;
    font-size:0.9rem;
    color:$oc-gray-7;
    span{
      color:$oc-red-9;
    }
  }
  .todo{
    height:330px;
    padding:!important 0.3rem;
    overflow:hidden;
    .TodoItem{
      button{
        display:none;
      }
    }
  }
}