@import '~open-color/open-color';

.TodoItem{
  position:relative;
  box-sizing:border-box;
  padding:0.3rem 60px 0.3rem 0.3rem;
  width:100%;
  background:$oc-gray-0;
  & + &{
    margin-top:1px;
  }
  &:nth-child(odd){
    background:#fff;
  }
  p{
    display:inline-block;
    vertical-align:top;
    line-height:1.5rem;
  }
  button{
    position:absolute;
    display:inline-block;
    top:0;
    right:0;
    vertical-align:top;
    width:60px;
    height:100%;
    background:$oc-red-7;
    color:#fff;
    border:none;
    outline:none;
  }
  &.notPerform{
    background:$oc-red-2;
  }
  &.perform{
    background:$oc-green-2;
  }
}