.TodoItem{
  position:relative;
  box-sizing:border-box;
  padding:0.3rem 60px 0.3rem 0.3rem;
  margin-bottom:1px;
  width:100%;
  background:#f8f9fa;
  &:nth-child(odd){
    background:#fff;
  }
  p{
    display:inline-block;
    vertical-align:top;
    line-height:1.5rem;
  }
  button{
    position:absolute;
    display:inline-block;
    top:0;
    right:0;
    vertical-align:top;
    width:60px;
    height:100%;
    background:#f03e3e;
    color:#fff;
    border:none;
    outline:none;
  }
  &.only_view{
    button{
      display:none;
    }
  }
}